# Environment variables
.env

# Virtual environment
.venv/
venv/
env/
flights/venv/
**/venv/
**/.venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
**/__pycache__/

# IDE
.vscode/
.idea/

# Database
*.db
*.sqlite3

# Logs
*.log

# OS
.DS_Store
Thumbs.db
